*:focus {
	outline: 0 !important;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.fillWindow {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  word-wrap: break-word;
  /*box-shadow: inset 0px 0px 60px 30px rgba(0,0,0,0.8);*/
}

.noSelect, button, nav, .fa-btn {
  -webkit-user-select: none;
  cursor: default;
  -webkit-user-drag: none;
}

.selectable {
  -webkit-user-select: text;
}

#spinner {
  border: 14px solid rgba(0,0,0,0);
  border-top: 14px solid rgba(0,0,0,0.6);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.4s linear infinite;
  position: absolute;
  top: calc(50vh - 54px);
  left: calc(50vw - 54px);
  z-index: 9999;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

nav {
  background-color: rgba(20,20,20,1);
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  color: rgba(240,240,240,1);
}
nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  margin: 0;
}
nav ul li:hover, nav ul li:active, .activeTab {
  border-bottom: 5px solid rgba(30,120,256,1);
}
nav ul li:hover, nav ul li:active {
  background-color: rgba(30,120,256,1);
}
nav ul li:active {
  color: rgba(20,20,20,1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px;
  margin: 0;
  border: 1px solid rgba(10,10,10,1);
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 3px 7px rgba(0,0,0,1);
  color: rgba(240,240,240,1);
}
button:hover, button:active {
  color: rgba(30,120,256,1);
}
button:active {
  box-shadow: 0 0 0;
}

button.disabled, button.disabled:hover, button.disabled:active {
  background-color: rgba(30,30,30,0.8);
  color: rgba(240,240,240,1);
  box-shadow: 0 0 0;
}

hr {
  margin: 10px 0 10px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,1);
}

.loginPicture {
  width: calc(20vw - 20px);
  height: calc(20vw - 20px);
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0 3px 7px rgba(0,0,0,1);
}
.loginPicture:hover {
  border: 1px solid rgba(30,120,256,1);
}
.loginPicture:active {
  box-shadow: 0 0 0;
}

/*background: rgba(10,10,10,0.6);
backdrop-filter: blur(6px);
position: relative;*/
.glassTitle {
  text-shadow: 0px 2px 5px rgba(0,0,0,1);
  margin: 0 0 10px 0;
  font-weight: normal;
  color: rgba(256,256,256,1);
  letter-spacing: 1pt;
  word-spacing: 2pt;
  font-size: 1.2em;
  text-align: left;
  font-family: "trebuchet MS", sans-serif;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
}
.glass, input, select {
  margin: 9px;
  padding: 10px;
  border: 1px solid rgba(10,10,10,1);
  background: rgba(20,20,20,0.8);
  color: rgba(240,240,240,1);
  font-family: "Verdana", "Arial", sans-serif;
  box-shadow: 0px 5px 10px rgba(0,0,0,1);
  display: inline-block;
  vertical-align: top;
}

select, input {
  margin: 0;
  padding: 5px;
}

select {
  height: 28px;
}

i.fa-btn {
  text-shadow: 0 3px 5px rgba(0,0,0,1);
  display: inline-block;
}
i.fa-btn:hover, i.fa-btn:active {
  color: rgba(30,120,256,1);
}
i.fa-btn:active {
  text-shadow: 0 0 0;
}

.chatLine {
  padding: 0 10px 5px 10px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,1);
  font-size: 1em;
}

.eventLine {
  padding: 0 10px 5px 10px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,1);
  font-size: 0.9em;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: rgba(100,100,100,0); }
::-webkit-scrollbar-thumb {
  background-color: rgba(240,240,240,1);
  box-shadow: 3px 3px 5px rgba(0,0,0,1);
}

.streamerQueue {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 2px 4px 2px 4px;
}
.streamerQueue-item {
  transition: all 1s;
  display: block;
  margin-right: 10px;
}
.streamerQueue-enter {
  opacity: 0;
  transform: translateX(30px);
}
.streamerQueue-leave-active {
  display: none;
}
.streamerQueue-move {
  transition: transform 1s;
}
