//- .fillWindow(style="background-image: url('../img/colors.jpg');")
.fillWindow(v-bind:style="bindbg")
  nav(style="height: 38px;")
    ul
      li(v-for="item in navItems", v-bind:class="isTab(item.name) ? 'activeTab' : ''", v-on:click="changeTab(item.name)")
        i.fa.fa-fw.fa-lg(v-bind:class="item.icon", v-show="iconNav")
        span(v-show="!iconNav") {{item.name}}

  div(style="height: calc(100vh - 38px); text-wrap: break-word; overflow-x: hidden;")
    tab(tabname="Chat")
      chat
    tab(tabname="Music")
      music
    tab(tabname="Points")
      points
